*{
    margin: 0%;
    margin-bottom: 0%;
}

.crayon{
    display: flex;
    justify-content: end
}

.board{
    width: 80%;
    height: 100%;
    position: absolute;    
}

img{
    width: 100%;
    height: 100%;
}

h1{
width: fit-content;
    height: 120px;
}

#box, #box-2, #box-3, #box-4{
    width: 120px;
    height: 120px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: white;
}

div.tangle, div.tangle-2, div.tangle-3, div.tangle-4{
    display: flex;
}

div.tangle>p, div.tangle-2>p, div.tangle-3>p, div.tangle-4>p{
    border: white 10px solid;
    width: 20px;
    height: 20px;
}

.TriggerSpin{
    animation-name: spin;
    animation-duration: 100ms;
    animation-iteration-count: 10;
    animation-timing-function: linear; 
}
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
}

.DiceOn{
    background-color: black;
}

.DiceOff{
    background-color: white;
}

.playerbox{
    display: flex;
    border: 1px black solid;
    width: calc(20% - 2px);
    height: calc(25vh - 2px);
    background-color: grey;
}

#butt1, #butt2, #butt3, #butt4{
    width: calc(20vw - 128px);
    height: 122px;
    /* background-color: red; */
}

.ButtDice{
    background-color: lawngreen;
}

.RedDice{
    background-color: red;
}

.AlmostDice{
    background-color: yellow;
}

.guy1{
    height: 5%;
    width: 4%;
    background-color: aqua;
}

.board--2{
    display: flex;
    flex-wrap: wrap;
}

.board--2>p{
    width: 100px;
    height: 100px;
    background-color: wheat;
    border: 1px black solid;
}

.grid{
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 100%;
}

.grid>div{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;  
    box-sizing: border-box;
    height: 100%;
}

.grid>div:not(.loss){
    border: black 1px solid;
}

#Oven{
    background-color: gray;
}

#Licorice-Lane{
    background-color: maroon;
}

#Marshmellow-Meadow{
    background-color: greenyellow;
}

#Gram-Canyon{
    background-color: goldenrod;
}

#City-of-Chocolate{
    background-color: brown;
}

#Smore{
    background-color: yellow;
}
.loss{
    background-color: #2196F3;
}
placeholden{
    background-color: aqua;
}
