*{
    margin: 0%;
    margin-bottom: 0%;
}

.crayon{
    display: flex;
    justify-content: end;
}

.board{
    width: 80%;
    height: 100%;
    position: absolute;    
}

img{
    width: 100%;
    height: 100%;
}

h1{
width: fit-content;
    height: 120px;
}

#box, #box-2, #box-3, #box-4{
    width: 120px;
    height: 120px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: white;
}

div.tangle, div.tangle-2, div.tangle-3, div.tangle-4{
    display: flex;
}

div.tangle>p, div.tangle-2>p, div.tangle-3>p, div.tangle-4>p{
    border: white 10px solid;
    width: 20px;
    height: 20px;
}

.TriggerSpin{
    animation-name: spin;
    animation-duration: 100ms;
    animation-iteration-count: 10;
    animation-timing-function: linear; 
}
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
}

.DiceOn{
    background-color: black;
}

.DiceOff{
    background-color: white;
}

.playerbox{
    display: flex;
    border: 1px black solid;
    width: calc(20% - 2px);
    height: calc(25vh - 2px);
    background-color: gray;
}

#butt1, #butt2, #butt3, #butt4{
    width: calc(20vw - 124px);
    height: 122px;
    /* background-color: red; */
}

.ButtDice{
    background-color: lawngreen;
}

.RedDice{
    background-color: rgb(255, 0, 0);
}

.AlmostDice{
    background-color: yellow;
}

.guy1{
    height: 5%;
    width: 4%;
    background-color: aqua;
    background-image: url(/images/pasted_image_0-removebg-preview\ \(6\).png);
    grid-column:3/ 4;
    grid-row:3/ 4;
}

.board--2{
    display: flex;
    flex-wrap: wrap;
}

.board--2>p{
    width: 100px;
    height: 100px;
    background-color: wheat;
    border: 1px black solid;
}

.grid{
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 100%;
}

.grid>div{
    text-align: center;
    /* padding: 20px 0; */
    font-size: 30px;  
    box-sizing: border-box;
    height: 100%;
}

.Gram-Canyon,
.Marshmellow-Meadow,
.Licorice-Lane,
.City-of-Chocolate{
    border: black 1px solid;
}

.Oven{
    background-image:url(/images/Drawing-6.sketchpad.png); 
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
    background-color: rgb(97, 97, 97);
    display: flex;
}

.Oven>div{
    width: 50%;
    height: 50%;
}

.InOven{
    width: 100%;
    height: 100%;
}

#Oven1{
    background-image: url(pasted_image_0-removebg-preview\ \(6\).png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

#Oven2{
    background-image: url(pasted_image_0-removebg-preview\ \(7\).png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

#Oven3{
    background-image: url(pasted_image_0-removebg-preview\ \(4\).png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

#Oven4{
    background-image: url(pasted_image_0-removebg-preview\ \(8\).png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

.Licorice-Lane{
    background-color: #dc003a;
    background-image: url(/images/licorice-space-pixilart.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.Marshmellow-Meadow{
    background-color: #eeffee;
    background-image: url(/images/good-marshmallow-pixilart.png);
    background-size:cover;
    background-position-x: 15px;
}

.Gram-Canyon{
    background-color: #dbac5f;
    background-image: url(/images/pixilart-drawing\ \(11\).png);
    background-size: contain;
    background-position: center;
}

.City-of-Chocolate{
    background-color: #351e13;
    background-image: url(/images/pixilart-drawing\ \(14\).png);
    background-size: contain;
   background-position: center; 
}


.loss2,
.loss3,
.loss1 {
    border: 0px;
}

.Smore{
    background-image:url(/images/pixilart-drawing\ \(12\).png);
    background-size: contain;
}
.loss1{
    background-color:rgb(92, 56, 31) ;
}
.lossCC{
    background-image: url(/images/pasted_image_0-removebg-preview\ \(2\).png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(92, 56, 31);
}
.loss11{
    background-image: url(/images/pixilart-drawing\ \(20\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(92, 56, 31);
}
.lossG{
    background-image: url(/images/gloopy-pixilart.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(92, 56, 31);
}
.loss2{
    background-color: #e9b055;
}
.loss22{
    background-image: url(/images/pixilart-drawing\ \(19\).png);
}
.lossLL{
    background-color: #e9b055;
    background-image: url(/images/pasted_image_0-removebg-preview\ \(3\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.loss3{
    background-color:#bef997;
}
.lossMM{
    background-color: #bef997;
    background-image: url(/images/pasted_image_0-removebg-preview\ \(1\).png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.loss33{
    background-image: url(/images/pixilart-drawing\ \(18\).png);
}
img{
    position: absolute;
    max-width: 4vw;
    max-height: 6vh;
    margin-left: -2vw;
    margin-top: -1.5vh;
}

.Character1{
    background-image: url(pasted_image_0-removebg-preview\ \(6\).png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

.Character2{
    background-image: url(pasted_image_0-removebg-preview\ \(4\).png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

.Character3{
    background-image: url(pasted_image_0-removebg-preview\ \(7\).png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

.Character4{
    background-image: url(pasted_image_0-removebg-preview\ \(8\).png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

.trick{
    background-image: url(trick-or-treat-pixilart.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}

.treat{
    background-image: url(trick-or-treat-pixilart.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;

}